<h1>Editing Country Of Origin</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @country_of_origin, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', country_of_origins_path, class: "btn btn-default" %>

