<h1>Editing Role</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @role, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', roles_path, class: "btn btn-default" %>

