<h1>Editing Example</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @example, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', examples_path, class: "btn btn-default" %>

