
<p>
  <strong>Name:</strong>
  <%= @example.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @example.color %>
</p>

<br>
<%= link_to 'Edit', edit_example_path(@example), class: "btn btn-primary", :style=>'color:#FFFFFF;' %> &nbsp &nbsp
<%= link_to 'Back', examples_path, class: "btn btn-default" %>
