<h1>Editing Product</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @product, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', products_path, class: "btn btn-default" %>

