<h1>Editing Pfeature</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @pfeature, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', pfeatures_path, class: "btn btn-default" %>

